.nav-btn {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  cursor: pointer;
  background-color: var(--background);
  transition: background-color 100ms ease-in-out; }
  .nav-btn:hover {
    background-color: var(--accent-10); }

/*# sourceMappingURL=buttons.css.map */
