.nav-btn
  display: block
  position: fixed
  top: 0
  margin: 1rem
  padding: 1rem
  text-decoration: none
  color: var(--foreground)
  border: 1px solid var(--foreground)
  cursor: pointer

  background-color: var(--background)
  transition: background-color 100ms ease-in-out

  &:hover
    background-color: var(--accent-10)

  @media screen and (max-width: 550px)
    bottom: 0
    top: auto