.footer
  box-sizing: border-box
  width: 100vw
  height: 5rem
  border-top: 1px solid var(--foreground-30)
  display: flex
  align-items: center
  padding: .5rem 2rem

  &>.element
    box-sizing: border-box
    min-width: 3rem
    height: 2rem
    margin: .2rem
    color: var(--foreground)
    display: flex
    align-items: center
    justify-content: center

  &>.link
    text-decoration: none
    &:hover
      border: 1px solid var(--foreground-30)

  @media screen and (max-width: 550px)
    margin-bottom: 5rem