.home-btn {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0 0 0 transparent;
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out; }
  .home-btn:hover {
    background-color: rgba(0, 0, 255, 0.1); }

/*# sourceMappingURL=home-btn.css.map */
