@keyframes disable {
  0% {
    padding-top: initial;
    margin-top: initial;
    padding-bottom: initial;
    margin-bottom: initial;
    height: auto;
    border: initial; }
  99% {
    padding-top: initial;
    margin-top: initial;
    padding-bottom: initial;
    margin-bottom: initial;
    height: auto;
    border: initial; }
  100% {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: initial;
    margin-bottom: initial;
    height: 0;
    border: none; } }

/*# sourceMappingURL=keyframes.css.map */
