.lecture-card
  display: block
  padding: .5rem
  margin: .5rem 2rem
  border: 1px solid var(--foreground)
  color: var(--foreground)
  text-decoration: none
  transform: scale(1)
  opacity: 1
  box-shadow: none
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out
  &:first-child
    margin: 0
  &:hover
    box-shadow: 0 0 10px 0 var(--foreground-30)
    background-color: var(--accent-10)

  &.disabled
    opacity: 0
    transform: scaleY(0)
    margin: 0
    animation: disable 250ms ease-in-out forwards

  &>.title
    margin: 0

  &>.meta
    display: flex
    justify-content: space-between

    &>p
      margin: 0

    &>.author
      &:before
        content: '🖋'
        display: inline-block
        margin-right: .2rem
        transform: scaleX(-1)

    //&>.date