@charset "UTF-8";
.lecture-card {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 2rem;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  transform: scale(1);
  opacity: 1;
  box-shadow: none;
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out; }
  .lecture-card:first-child {
    margin: 0; }
  .lecture-card.disabled {
    opacity: 0;
    transform: scaleY(0);
    margin: 0;
    animation: disable 250ms ease-in-out forwards; }
  .lecture-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 255, 0.1); }
  .lecture-card > .title {
    margin: 0; }
  .lecture-card > .meta {
    display: flex;
    justify-content: space-between; }
    .lecture-card > .meta > p {
      margin: 0; }
    .lecture-card > .meta > .author:before {
      content: "🖋";
      display: inline-block;
      margin-right: 0.2rem;
      transform: scaleX(-1); }

/*# sourceMappingURL=lecture-card.css.map */
