@charset "UTF-8";
article.lecture {
  max-width: 40rem;
  padding: 2rem; }
  article.lecture > .title {
    text-align: center; }
  article.lecture > .meta {
    display: flex;
    flex-direction: column;
    align-items: center; }
    article.lecture > .meta > .date {
      font-size: 0.9rem; }
    article.lecture > .meta > .author {
      font-size: 1.1rem; }
      article.lecture > .meta > .author:before {
        content: "🖋";
        display: inline-block;
        margin-right: 0.2rem;
        transform: scaleX(-1); }
      article.lecture > .meta > .author:after {
        content: "🖋";
        display: inline-block;
        margin-left: 0.2rem; }
  article.lecture > .body {
    text-align: justify;
    line-height: 1.5rem;
    margin-top: 2rem;
    border-top: 3px black double; }

/*# sourceMappingURL=lecture.css.map */
