article.lecture
  max-width: 40rem
  padding: 2rem

  &>.title
    text-align: center

  &>.meta
    display: flex
    flex-direction: column
    align-items: center

    &>.date
      font-size: .9rem

    &>.author
      font-size: 1.1rem
      &:before
        content: '🖋'
        display: inline-block
        margin-right: .2rem
        transform: scaleX(-1)
      &:after
        content: '🖋'
        display: inline-block
        margin-left: .2rem

  &>.body
    text-align: justify
    line-height: 1.5rem
    margin-top: 2rem
    border-top: 3px var(--foreground) double