.search
  width: 100%
  display: flex
  justify-content: center

  &>label.hidden
    visibility: collapse
    width: 0
    height: 0

  &>#search
    border: 1px solid var(--foreground)
    height: 2rem
    line-height: 2rem
    font-size: 1.5rem
    flex-basis: 40rem
    margin: 0 2rem
    padding: .5rem
    background-color: var(--background)
    color: var(--foreground)