.search {
  width: 100%;
  display: flex;
  justify-content: center; }
  .search > label.hidden {
    visibility: collapse;
    width: 0;
    height: 0; }
  .search > #search {
    border: 1px solid black;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    flex-basis: 40rem;
    margin: 0 2rem;
    padding: 0.5rem; }

/*# sourceMappingURL=search.css.map */
