@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100%; }

body {
  --background: #f6f3f3;
  --foreground: #0e0e0e;
  --foreground-30: rgba(0, 0, 0, .3);
  --accent: rgb(0, 244, 255);
  --accent-10: rgba(0, 244, 255, .1); }
  body.dark {
    --background: #131313;
    --foreground: #f1efea;
    --foreground-30: rgba(255, 255, 255, .3);
    --accent: rgb(0, 244, 255);
    --accent-10: rgba(0, 244, 255, .1); }

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground); }
  body > .container {
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: center; }
    body > .container > .lectures {
      flex-basis: 40rem;
      padding-top: 2rem;
      padding-bottom: 2rem; }

.footer {
  box-sizing: border-box;
  width: 100vw;
  height: 5rem;
  border-top: 1px solid var(--foreground-30);
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem; }
  .footer > .element {
    box-sizing: border-box;
    min-width: 3rem;
    height: 2rem;
    margin: 0.2rem;
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer > .link {
    text-decoration: none; }
    .footer > .link:hover {
      border: 1px solid var(--foreground-30); }
  @media screen and (max-width: 550px) {
    .footer {
      margin-bottom: 5rem; } }

.nav-btn {
  display: block;
  position: fixed;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  cursor: pointer;
  background-color: var(--background);
  transition: background-color 100ms ease-in-out; }
  .nav-btn:hover {
    background-color: var(--accent-10); }
  @media screen and (max-width: 550px) {
    .nav-btn {
      bottom: 0;
      top: auto; } }

.home-btn {
  left: 0; }

article.lecture {
  max-width: 40rem;
  padding: 2rem; }
  article.lecture > .title {
    text-align: center; }
  article.lecture > .meta {
    display: flex;
    flex-direction: column;
    align-items: center; }
    article.lecture > .meta > .date {
      font-size: 0.9rem; }
    article.lecture > .meta > .author {
      font-size: 1.1rem; }
      article.lecture > .meta > .author:before {
        content: "🖋";
        display: inline-block;
        margin-right: 0.2rem;
        transform: scaleX(-1); }
      article.lecture > .meta > .author:after {
        content: "🖋";
        display: inline-block;
        margin-left: 0.2rem; }
  article.lecture > .body {
    text-align: justify;
    line-height: 1.5rem;
    margin-top: 2rem;
    border-top: 3px var(--foreground) double; }

.lecture-card {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 2rem;
  border: 1px solid var(--foreground);
  color: var(--foreground);
  text-decoration: none;
  transform: scale(1);
  opacity: 1;
  box-shadow: none;
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out, opacity 100ms ease-in-out; }
  .lecture-card:first-child {
    margin: 0; }
  .lecture-card:hover {
    box-shadow: 0 0 10px 0 var(--foreground-30);
    background-color: var(--accent-10); }
  .lecture-card.disabled {
    opacity: 0;
    transform: scaleY(0);
    margin: 0;
    animation: disable 250ms ease-in-out forwards; }
  .lecture-card > .title {
    margin: 0; }
  .lecture-card > .meta {
    display: flex;
    justify-content: space-between; }
    .lecture-card > .meta > p {
      margin: 0; }
    .lecture-card > .meta > .author:before {
      content: "🖋";
      display: inline-block;
      margin-right: 0.2rem;
      transform: scaleX(-1); }

.search {
  width: 100%;
  display: flex;
  justify-content: center; }
  .search > label.hidden {
    visibility: collapse;
    width: 0;
    height: 0; }
  .search > #search {
    border: 1px solid var(--foreground);
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    flex-basis: 40rem;
    margin: 0 2rem;
    padding: 0.5rem;
    background-color: var(--background);
    color: var(--foreground); }

@keyframes disable {
  0% {
    padding-top: initial;
    margin-top: initial;
    padding-bottom: initial;
    margin-bottom: initial;
    height: auto;
    border: initial; }
  99% {
    padding-top: initial;
    margin-top: initial;
    padding-bottom: initial;
    margin-bottom: initial;
    height: auto;
    border: initial; }
  100% {
    display: none;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: initial;
    margin-bottom: initial;
    height: 0;
    border: none; } }
blockquote {
  border-left: 3px solid var(--foreground-30);
  margin-left: 0;
  padding-left: 2rem; }

#theme-switch {
  right: 0;
  cursor: pointer; }

a {
  color: var(--accent); }

/*# sourceMappingURL=style.css.map */
