*, *:before, *:after
  box-sizing: border-box

body, html
  padding: 0
  margin: 0
  overflow-x: hidden
  width: 100vw
  height: 100%


body
  --background: #f6f3f3
  --foreground: #0e0e0e
  --foreground-30: rgba(0, 0, 0, .3)
  --accent: rgb(0, 244, 255)
  --accent-10: rgba(0, 244, 255, .1)

  &.dark
    --background: #131313
    --foreground: #f1efea
    --foreground-30: rgba(255, 255, 255, .3)
    --accent: rgb(0, 244, 255)
    --accent-10: rgba(0, 244, 255, .1)

body
  display: flex
  flex-direction: column
  background-color: var(--background)
  color: var(--foreground)

  &>.container
    width: 100vw
    display: flex
    flex: 1
    justify-content: center

    // Home
    &>.lectures
      flex-basis: 40rem
      padding-top: 2rem
      padding-bottom: 2rem


@import "./sass-elements/footer"
@import "./sass-elements/buttons"
@import "./sass-elements/home-btn"
@import "./sass-elements/lecture"
@import "./sass-elements/lecture-card"
@import "./sass-elements/search"
@import "./sass-elements/keyframes"
@import "./sass-elements/blockquote"
@import "./sass-elements/theme-switch"
@import "./sass-elements/links"